* {
    box-sizing: border-box;
  }
  

  body::after {
    content: "";
    display: block;
    position: fixed;
    z-index: -1;   
    width: 100%;
    height: auto;
    background-image: url('img/blue-ocean-sea-5412.jpg');
    background-size: cover;
    opacity: 0.9;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  
  /* Style the header */
  .header {
    padding: 5px;
    text-align: center;
  }
  
  /* Style the top navigation bar */
  .topnav {
    overflow:hidden;
    background-color: #333;
    opacity:0.7;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color:black;
    color:#ddd;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:600px) {
    .column {
      width: 100%;
    }
  }

  .dropbtn{
    font-size:16px;
    background-color: #333;
    width:auto;  
    overflow:hidden;
    padding: 14px 16px;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
    border:0;
        }
        .dropbtn:hover {
            background-color:black;
            color:#ddd;
          }
          .dropdown {
            position:absolute;
            display: inline-block;
          }
          .dropdown-content {
            display: none;
            position:inherit;
            background-color:#333;
            min-width: 106px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
          }
          .dropdown-content a {
            color:white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
          }
          .dropdown:hover .dropdown-content {display: block;}
          .dropdown-content a:hover {background-color:black;}